<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/step_forward_web.svg" alt="" width="200" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <a class="nav-link " aria-current="page" href="#home">Accueil</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="#articles">Les articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="#forum">Le forum</a>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Les addictions
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#alcool">Alcool</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#tabac">Tabac</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#ecran">Ecran</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>