<app-navbar></app-navbar>
<br>
<br>
<br>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 image-container">
      <img src="../../assets/images/Cover1.png" alt="Description de l'image">
    </div>
  </div>
</div> <br><br>

<div class="container mt-4" style="margin-left: 200px; margin-right: 200px;">
  <div class="row">
    <!-- Première card -->
    <div class="col-md-6 col-lg-6 mb-3">
      <div class="card" style="width: 30rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/1.png" style="width: 480px; height: 200px; object-fit: cover;"
          class="card-img-top" alt="...">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">L’addiction : perçue comme une maladie qui progresse, des Français démunis, des pouvoirs
            publics montrés du doigt quant à sa prise en charge</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <!-- Deuxième card -->
    <div class="col-md-6 col-lg-6 mb-3">
      <div class="card" style="width: 30rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/2.png" style="width: 480px; height: 200px; object-fit: cover;"
          class="card-img-top" alt="...">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Campagne contre le trafic de drogue : est-il pertinent de culpabiliser les consommateurs
            ? La réponse du Pr Amine Benyamina dans "Le Figaro Santé".</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" style="margin-left: 200px; margin-right: 200px;">
  <div class="row g-3 justify-content-center">
    <!-- Première card -->
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 20rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/3.jpeg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Cocaïne : comment expliquer l'explosion de sa consommation ?</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <!-- Deuxième card -->
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 20rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/4.jpg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Alcool : ces jeunes adultes expliquent pourquoi ils ont arrêté d'en boire avant 30 ans
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <!-- Troisième card -->
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 18rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/5.jpeg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Lutte contre les addictions : nouvelles drogues, nouveaux enjeux</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4" style="margin-left: 200px; margin-right: 200px;">
  <div class="row g-3 justify-content-center">
    <!-- Première card -->
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 20rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/3.jpeg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Cocaïne : comment expliquer l'explosion de sa consommation ?</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <!-- Deuxième card -->
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 20rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/4.jpg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Alcool : ces jeunes adultes expliquent pourquoi ils ont arrêté d'en boire avant 30 ans
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <!-- Troisième card -->
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 18rem; height: 400px;">
        <div class="ticket"
          style="position: absolute; top: 0; right: 0; background-color: #1A73E8; color: white; padding: 5px 10px; border-radius: 5px; font-size: 12px;">
          Tickettttttttt
        </div>
        <img src="../../assets/images/5.jpeg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body" style="overflow-y: auto; height: calc(100% - 200px);">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Lutte contre les addictions : nouvelles drogues, nouveaux enjeux</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="articles" class="custom-link">Tous les articles</a>
<br><br><br>