.image-container {
    width: 100%; /* Adapter au conteneur */
    max-height: 500px; /* Hauteur maximale */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Empêche le débordement */
}

.image-container img {
    max-width: 100%; /* S'assurer que l'image ne dépasse pas la largeur */
    max-height: 500px; /* Empêcher que l'image dépasse 500px */
    height: auto; /* Garder les proportions */
    width: auto; /* Garder les proportions */
    object-fit: contain; /* Adapter l'image sans la couper */
}

.custom-link{
   
    margin-left: 700px; /* Espacement à gauche */
        margin-right: 40px; /* Espacement à droite */
}